
/* ocultar flechas de input[type=number]*/
input#inputDni::-webkit-inner-spin-button,input#inputDni::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: none;
    appearance: none;
  }